#photos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  padding: 16px;
  max-height: 400px;
  overflow-y: auto; /* scrollable vertically */
}

#photos-grid img.photo-item {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
  cursor: url('assets/icons/cursors/pointer.png'), pointer;
}

#photos-grid img.photo-item:hover {
  transform: scale(1.05);
}
